beautifulsoup4==4.12.2 ; python_full_version == "3.10.12"
certifi==2023.5.7 ; python_full_version == "3.10.12"
charset-normalizer==3.1.0 ; python_full_version == "3.10.12"
greenlet==2.0.2 ; python_full_version == "3.10.12" and (platform_machine == "win32" or platform_machine == "WIN32" or platform_machine == "AMD64" or platform_machine == "amd64" or platform_machine == "x86_64" or platform_machine == "ppc64le" or platform_machine == "aarch64")
idna==3.4 ; python_full_version == "3.10.12"
mysql-connector-python==8.0.33 ; python_full_version == "3.10.12"
numpy==1.25.0 ; python_full_version == "3.10.12"
pandas==2.0.2 ; python_full_version == "3.10.12"
protobuf==3.20.3 ; python_full_version == "3.10.12"
pyodbc==4.0.39 ; python_full_version == "3.10.12"
python-dateutil==2.8.2 ; python_full_version == "3.10.12"
pytz==2023.3 ; python_full_version == "3.10.12"
requests==2.31.0 ; python_full_version == "3.10.12"
six==1.16.0 ; python_full_version == "3.10.12"
soupsieve==2.4.1 ; python_full_version == "3.10.12"
sqlalchemy==2.0.16 ; python_full_version == "3.10.12"
typing-extensions==4.6.3 ; python_full_version == "3.10.12"
tzdata==2023.3 ; python_full_version == "3.10.12"
urllib3==1.26.16 ; python_full_version == "3.10.12"
